<%- include("header.ejs") %>
<!-- Bootstrap , Material Icon and Tailwind css cdn  -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<!-- Home.css  -->
<link rel="stylesheet" href="css/home.css">

<div class="container">
    <form id="search-product">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for product...">
    </form>
</div>

<div class="container">
    <input type="checkbox" id="filter" name="bohemian" value="bohemian">
    <label for="bohemian">Bohemian</label><br>
    <input type="checkbox" id="filter" name="formal" value="formal">
    <label for="formal">Formal</label><br>
    <input type="checkbox" id="filter" name="afropunk" value="afropunk">
    <label for="bohemian">Afropunk</label><br>
    <input type="checkbox" id="filter" name="emo" value="emo">
    <label for="bohemian">Emo</label><br>
    <input type="submit" value=Filter>
</div>
<div class="container">
    <div class="m-4 text-center">
        <p class="text-white">Lifestyle | Fashion | Travel</p>

    </div>
    <div class="row mb-3">
        <a href="/upload" class="btn btn-success d-flex align-items-center">
            <i class="material-icons mr-2">add_circle</i>
            New Fashion Post
        </a>
    </div>
    
    <div class="min-h-screen  flex  flex-row flex-wrap justify-center items-center">

        <% for(var i=0; i<post.length; i++) { %>
        <div class="max-w-sm mx-4 bg-white border-2 border-gray-300 p-6 rounded-md tracking-wide shadow-lg">
            <div id="header" class="flex items-center mb-4"> 
                <img  class="w-20 rounded-full border-2 border-gray-300" src="uploads/<%= post[i].img %>" />
                <div id="header-text" class="leading-5 ml-6 sm">
                    <h4 id="name" class="text-xl font-semibold"> <%= post[i].postId %> </h4>
                    <h4 id="name" class="text-xl font-semibold"> <%= post[i].brand %> </h4>
                    <h4 id="name" class="text-xl font-semibold"> <%= post[i].category %> </h4>
                    <h4 id="name" class="text-xl font-semibold"> <%= post[i].price %> $ </h4>
                    <h4 id="name" class="text-xl font-semibold"> <%= post[i].quantity %> in stock </h4>
                    <h4 id="name" class="text-xl font-semibold"> <%= post[i].size %> </h4>
                    <h4 id="name" class="text-xl font-semibold"> <%= post[i].style %> </h4>
                </div>
                <div class="more position-relative" style="cursor: pointer;">
                    <div class="options card rounded-pill shadow-sm p-1 position-absolute">
                        <form method="GET" action="/get/<%= post[i]._id%>">
                            <button class="rounded-circle p-2 mb-2" style="background:magenta;">
                                <i class="material-icons" style="color:white">edit</i>
                            </button>
                        </form>

                        <form action="home/<%= post[i]._id%>?_method=DELETE" method="POST">
                            <button class="rounded-circle p-2 bg-danger">
                                <i class="material-icons" style="color:white">delete</i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <% } %>
    </div>

</div>